/* css gemaral start */
*{
    font-family:Poppins;
}
a{
    text-decoration: none;
    display: inline-block;
    color: #222;
}
li{
    list-style: none;
    display: inline-block;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
::a{
    color: #8c99ff;
}
::selection{
    background-color: #8490ff;
    color: white;
}
.contenar{
    width: 1000px;
    margin: 0 auto;
}
/* css gemaral end */
/* header :start */
#header-contenar{
    margin-top: 20px;
    background-color:#fff;
}
header>div{
    display: inline-block;
    float: right;
    margin-bottom: 10px;
}
header>div>ul{
    margin-top: 2.1px;
    margin-right: 15px;
}
header>div>ul>li{
    font-size: 13.5px;
    font-weight: 500;
    margin-left: 28.5px;
    position: relative;
}
header>div>ul>li:hover>a{
    color: #8c99ff;
}
header>div>ul>li:first-of-type a{
    color: #8c99ff;
}
header>div>ul>li ul{
    background-color: #eee;
    position: absolute;
    top: 55px;
    right: 0px;
    padding: 13px;
    display: none;
}
header>div>ul>li:hover ul{
    display: block;
}
header>div>ul>li>ul>li{
    display: none;
    font-weight: 400;
    padding: 2px 18px 5px ;
}
header>div>ul>li:hover>ul>li{
    box-sizing: border-box;
    color: #333;
    display: block;
    font-size: 12px;
}
header>div>ul>li:hover>ul>li:first-of-type{
    margin: 0 0 8px 0;
}
header>div>ul>li ul li a{
    width: 150px;
}
header>div>ul>li ul li:hover a{
    color: #8c99ff;
}
/* header end */
/* main start */
/* <!-- main first --> */
.contenar #first-main{
    background-color:#f9f9ff ;
}
.contenar #first-main div{
    display: inline-block;
    width: 48%;
    position: relative;
    bottom: 250px;
}
.contenar #first-main img{
    display: inline-block;
    width: 48%;
    margin-top: 90px;
}
.contenar #first-main div p:first-of-type{
    font-size: 14px;
    font-weight: 400px;
    color: #222;
    letter-spacing: 3px;
}
.contenar #first-main div h1{
    color: #222;
    font-size: 65px;
    margin: 20px 0;
    font-weight: 600;
}
.contenar #first-main div p:last-of-type{
    color: #777;
    margin-bottom: 16px;
    font-size: 14px;
}
.contenar #first-main div a,.contenar #main2 a{
    color: #fff;
    background-color:#8490ff;
    padding: 9px 30px;
}
.contenar #first-main div a:hover,.contenar #main2 a:hover{
    box-shadow:0px 20px 20px 0px rgba(132, 144, 255, 0.3) ;
}
/* <!-- main first end --> */
/* main.2 start  */
.contenar #main2{
    display: inline-block;
    width: 48%;
    margin-left: 20px;
}
.contenar #img-left{
    width: 48%;
    margin-top: 100px;
}
.contenar #main2 h2{
    font-size: 35px;
    margin: 25px 0;
    font-weight: 600;
}
.contenar #main2 p:last-of-type{
    font-size:15px ;
    color: #777;
    font-weight: 300;
}
.contenar #main2 a{
    margin-top:20px;
}
/* main.2 end */
/* main 3 sstart  */
.contenar .main-3{
    margin-top: 130px;
    text-align: center;
}
.contenar .main-3>span{
    font-size: 40px;
    font-weight: 600;
}
.contenar .main-3 p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
}
.contenar .main-3>p{
    margin: 0 170px;
}
/* main 3 end */
/* main end */