/* css gemaral start */
*{
    font-family:Poppins;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0.3s;
}
p{
    color: #4d4f4d;
    font-size: 13px;
}
a{
    text-decoration: none;
    display: inline-block;
    color: #222;
}
li{
    list-style: none;
    display: inline-block;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
::a{
    color: #8c99ff;
}
::selection{
    background-color: #8490ff;
    color: white;
}
.contenar{
    width: 1000px;
    margin: 0 auto;
}
/* css gemaral end */
/* header :start */
#header-contenar{
    margin-top: 20px;
    background-color:#fff;
}
header>div{
    display: inline-block;
    float: right;
    margin-bottom: 10px;
}
header>div>ul{
    margin-top: 2.1px;
    margin-right: 15px;
}
header>div>ul>li{
    font-size: 13.5px;
    font-weight: 500;
    margin-left: 28.5px;
    position: relative;
}
header>div>ul>li:hover>a{
    color: #8c99ff;
}
header>div>ul>li:first-of-type a{
    color: #8c99ff;
}
header>div>ul>li>ul{
    background-color: #eee;
    position: absolute;
    top: 55px;
    right: 0px;
    padding: 13px;
    display: block;
    opacity: 0;
    visibility: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0.3s;
}
header>div>ul>li:hover ul{
    opacity: 1;
    visibility: visible;
}
header>div>ul>li>ul>li{
    font-weight: 400;
    padding: 2px 18px 5px ;
    box-sizing: border-box;
    color: #333;
    font-size: 12px;
}
header>div>ul>li:hover>ul>li:first-of-type{
    margin: 0 0 8px 0;
}
header>div>ul>li ul li a{
    width: 150px;
}
header>div>ul>li ul li:hover a{
    color: #8c99ff;
}
/* header end */
/* main start */
/* <!-- main first --> */
.contenar #first-main{
    background-color:#f9f9ff ;
}
.contenar #first-main div{
    display: inline-block;
    width: 48%;
    position: relative;
    bottom: 250px;
}
.contenar #first-main img{
    display: inline-block;
    width: 48%;
    margin-top: 90px;
}
.contenar #first-main div p:first-of-type{
    font-size: 14px;
    font-weight: 400px;
    color: #222;
    letter-spacing: 3px;
}
.contenar #first-main div h1{
    color: #222;
    font-size: 65px;
    margin: 20px 0;
    font-weight: 600;
}
.contenar #first-main div p:last-of-type{
    color: #777;
    margin-bottom: 16px;
    font-size: 14px;
}
.contenar #first-main div a,.contenar #main2 a{
    color: #fff;
    background-color:#8490ff;
    padding: 9px 30px;
}
.contenar #first-main div a:hover,.contenar #main2 a:hover{
    box-shadow:0px 20px 20px 0px rgba(132, 144, 255, 0.3) ;
}
/* <!-- main first end --> */
/* main.2 start  */
.contenar #main2{
    display: inline-block;
    width: 48%;
    margin-left: 20px;
}
.contenar #img-left{
    width: 48%;
    margin-top: 100px;
}
.contenar #main2 h2{
    font-size: 35px;
    margin: 25px 0;
    font-weight: 600;
}
.contenar #main2 p:last-of-type{
    font-size:15px ;
    color: #777;
    font-weight: 300;
}
.contenar #main2 a{
    margin-top:20px;
}
/* main.2 end */
/* main 3 sstart  */
/* title main 3 start */
.contenar .main-3{
    margin-top: 130px;
    text-align: center;
}
.contenar .main-3>span{
    font-size: 37px;
    font-weight: 600;
    color: #222;
}
.contenar .main-3 p{
    color: #4d4f4d;
    font-size: 14px;
    font-weight: 300;
}
.contenar .main-3>p{
    margin: 0 170px;
}
/* title main 3 end */
/* start body main 3 */
.contenar .itm-card{
    margin-top: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
    margin-right: 30.49px;

    transition-property: all;
    transition-duration: 0.01s;
}
.contenar .itm-card>*{
    display: block;
}
.contenar .itm-card>span{
    font-size: 35px;
    color: #222;
}
.contenar .itm-card>a{
    margin-top: 30px;
    font-weight: 600;
    font-size: 19px;
}
.contenar .itm-card>p{
    color: #4d4f4d;
    font-size: 13px;
    margin-top: 15px;
    font-weight: 300;
}
.contenar .itm-card:hover>a,.contenar .itm-card:hover>span{
    color:#8490ff ;
}
/* end body main 3 */
/* main 3 end */
/* main 4 start */
#main-4{
    width: 100%;
    background-color: #69b4fd;
    margin-top: 130px;
}
#main-4 .contenar .numaber{
    padding: 120px 0;
    display: inline-block;
    text-align: center;
    
}
#main-4 .contenar .numaber:nth-child(2),#main-4 .contenar .numaber:nth-child(3),#main-4 .contenar .numaber:nth-child(4){
    margin-left: 150px;
}
#main-4 .contenar .numaber p{
    color: #fff;
    margin: 0;
}
#main-4 .contenar .numaber h1{
    color: #fff;
    margin: 0;
}
/* main 4 end */
/* main 5 start */
/* title main 5 start */
/* genral main 5 start  */
#content{
    width: 1400px;
    margin: 0 auto;
    text-align: center;
}
/* genral main 5 end  */
#content #title-main5{
    display: inline-block;
}
#content #title-main5>h1{
    color: #222;
    font-weight: 600;
    margin: 0;
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 35px;
}
#content #title-main5>p{
    font-size:13px ;
    color: #777;
    margin: 0;
    font-weight: 300;
}
/* title main 5 end */
/* slector main 5 start */
#slector{
    margin-top: 95px;
    text-align: center;
}
#slector ul span{
    color: #222;
    width: 100px;
    height: 1px;
    background-color: #222;
}
#slector ul li{
    margin: 0 11px 0 11px;
}
#slector ul li a{
    font-size: 12.5px;
    font-weight: 500;
}
#slector ul li:nth-child(1) a{
    color: #8490ff;
}
#slector ul li a:hover{
    text-decoration: underline;
}
/* slector main 5 end */
/* main 5 end */
/* itm card main5 start*/
.itm-card-2{
    display: inline-block;
    width: 360px;
    text-align: center;
    position: relative;
    margin-top: 60px;
}
.itm-card-2>img{
    border-radius: 10px;
    display: inline-block;
}
.itm-card-2>h3{
    margin: 0;
    margin-top: 12px;
    font-weight: 600;
    color: #222;
}
.itm-card-2 p{
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.itm-card-2>a{
    display: inline-block;
    display: none;
    position: absolute;
    right: 150px;
    bottom: 206px;
}
.itm-card-2>img:hover+a,.itm-card-2>a:hover,.itm-card-2:hover a{
    display: inline-block;
}

/* itme card main5 end */
/* main end */