/* css gemaral start */
*{
    font-family:Poppins;
}
a{
    text-decoration: none;
    display: inline-block;
    color: #222;
}
li{
    list-style: none;
    display: inline-block;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
::a{
    color: #8c99ff;
}
::selection{
    background-color: #8490ff;
    color: white;
}
.contenar{
    width: 1000px;
    margin: 0 auto;
}
/* css gemaral end */
/* header :start */
#header-contenar{
    margin-top: 20px;
    background-color:#fff;
}
header>div{
    display: inline-block;
    float: right;
    margin-bottom: 10px;
}
header>div>ul{
    margin-top: 2.1px;
    margin-right: 15px;
}
header>div>ul>li{
    font-size: 13.5px;
    font-weight: 500;
    margin-left: 28.5px;
    position: relative;
}
header>div>ul>li:first-of-type{
    color: #8c99ff;
}
header>div>ul>li:hover>a{
    color: #8c99ff;
}
header>div>ul>li ul{
    background-color: #eee;
    position: absolute;
    top: 55px;
    right: 0px;
    padding: 13px;
    display: none;
}
header>div>ul>li:hover ul{
    display: block;
}
header>div>ul>li>ul>li{
    display: none;
    font-weight: 400;
    padding: 2px 18px 5px ;
}
header>div>ul>li:hover>ul>li{
    box-sizing: border-box;
    color: #333;
    display: block;
    font-size: 12px;
}
header>div>ul>li:hover>ul>li:first-of-type{
    margin: 0 0 8px 0;
}
header>div>ul>li ul li a{
    width: 150px;
}
header>div>ul>li ul li:hover a{
    color: #8c99ff;
}
/* header end */