/* css gemaral start */
*{
    font-family:Poppins;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}
::selection{
    background-color: #8490ff;
    color: white;
}
section *::selection{
   background-color: #191919;
   color: #565556;
}
body{
    margin: 0;
}
footer *::selection{
    background-color: #04091e;
    color: red;
}
p{
    color: #4d4f4d;
    font-size: 13px;
}
a{
    text-decoration: none;
    display: inline-block;
    color: #222;
}
li{
    list-style: none;
    display: inline-block;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.contenar{
    width: 1000px;
    margin: 0 auto;
}
/* css gemaral end */
/* header :start */
#header-contenar{
    width: 100%;
    background-color: #eee;
    height: 70px;
    position: sticky;
    top: 0;
    z-index:1;
    box-shadow: -21.213px 21.213px 30px 0px rgb(158, 158, 158,0.3);
}
header{
    background-color:#eee;
}
header *{
    margin-top: 8px;
}
header>img{
    margin-top: 18px;
}
header>div{
    display: inline-block;
    float: right;
}
header>div>ul{
    margin-top: 2.1px;
    margin-right: 15px;
}
header>div>ul>li{
    font-size: 12px;
    font-weight: 500;
    margin-left: 28.5px;
    position: relative;
}
header>div>ul>li:hover>a{
    color: #8c99ff;
}
header>div>ul>li:first-of-type a{
    color: #8c99ff;
}
header>div>ul>li>ul{
    background-color: #eee;
    position: absolute;
    top: 44px;
    right: 0px;
    display: block;
    opacity: 0;
    visibility: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0.3s;
}
header>div>ul>li:hover ul{
    opacity: 1;
    visibility: visible;
}
header>div>ul>li>ul>li{
    font-weight: 400;
    padding: 2px 14px 5px;
    box-sizing: border-box;
    color: #333;
    font-size: 12px;
}
header>div>ul>li>ul>li:last-of-type{
    margin-bottom: 10px;
}
header>div>ul>li ul li a{
    width: 150px;
}
header>div>ul>li ul li:hover a{
    color: #8c99ff;
}
/* header end */
/* main start */
/* <!-- main first --> */
.contenar #first-main{
    background-color:#f9f9ff ;
}
.contenar #first-main div{
    display: inline-block;
    width: 48%;
    position: relative;
    bottom: 250px;
}
.contenar #first-main img{
    display: inline-block;
    width: 48%;
    margin-top: 90px;
}
.contenar #first-main div p:first-of-type{
    font-size: 14px;
    font-weight: 400px;
    color: #222;
    letter-spacing: 3px;
}
.contenar #first-main div h1{
    color: #222;
    font-size: 65px;
    margin: 20px 0;
    font-weight: 600;
}
.contenar #first-main div p:last-of-type{
    color: #777;
    margin-bottom: 16px;
    font-size: 14px;
}
.contenar #first-main div a,.contenar #main2 a{
    color: #fff;
    background: linear-gradient(to right, #8490ff, #62bdfc);
    padding: 9px 30px;
}
.contenar #first-main div a:hover,.contenar #main2 a:hover{
    box-shadow:0px 20px 20px 0px rgba(132, 144, 255, 0.3) ;
}
/* <!-- main first end --> */
/* main.2 start  */
.contenar #main2{
    display: inline-block;
    width: 48%;
    margin-left: 20px;
}
.contenar #img-left{
    width: 48%;
    margin-top: 100px;
}
.contenar #main2 h2{
    font-size: 35px;
    margin: 25px 0;
    font-weight: 600;
}
.contenar #main2 p:last-of-type{
    font-size:15px ;
    color: #777;
    font-weight: 300;
}
.contenar #main2 a{
    margin-top:20px;
}
/* main.2 end */
/* main 3 sstart  */
/* title main 3 start */
.contenar .main-3{
    margin-top: 130px;
    text-align: center;
}
.contenar .main-3>span{
    font-size: 37px;
    font-weight: 600;
    color: #222;
}
.contenar .main-3 p{
    color: #4d4f4d;
    font-size: 14px;
    font-weight: 300;
}
.contenar .main-3>p{
    margin: 0 170px;
}
/* title main 3 end */
/* start body main 3 */
.contenar .itm-card{
    margin-top: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
    margin-right: 30.49px;

    transition-property: all;
    transition-duration: 0.01s;
}
.contenar .itm-card>*{
    display: block;
}
.contenar .itm-card>span{
    font-size: 35px;
    color: #222;
}
.contenar .itm-card>a{
    margin-top: 30px;
    font-weight: 600;
    font-size: 19px;
}
.contenar .itm-card>p{
    color: #4d4f4d;
    font-size: 13px;
    margin-top: 15px;
    font-weight: 300;
}
.contenar .itm-card:hover>a,.contenar .itm-card:hover>span{
    color:#8490ff ;
}
/* end body main 3 */
/* main 3 end */
/* main 4 start */
.main-4{
    width: 100%;
    background: linear-gradient(to right, #8490ff, #62bdfc);
    margin-top: 130px;
}
.main-4 .contenar .numaber{
    padding: 120px 0;
    display: inline-block;
    text-align: center;
    
}
.main-4 .contenar .numaber:nth-child(2),.main-4 .contenar .numaber:nth-child(3),.main-4 .contenar .numaber:nth-child(4){
    margin-left: 150px;
}
.main-4 .contenar .numaber p{
    color: #fff;
    margin: 0;
}
.main-4 .contenar .numaber h1{
    color: #fff;
    margin: 0;
}
/* main 4 end */
/* main 5 start */
/* title main 5 start */
/* genral main 5 start  */
#content{
    width: 1400px;
    margin: 0 auto;
    text-align: center;
}
/* genral main 5 end  */
#content #title-main5{
    display: inline-block;
}
#content #title-main5>h1{
    color: #222;
    font-weight: 600;
    margin: 0;
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 35px;
}
#content #title-main5>p{
    font-size:13px ;
    color: #777;
    margin: 0;
    font-weight: 300;
}
/* title main 5 end */
/* slector main 5 start */
#slector{
    margin-top: 95px;
    text-align: center;
}
#slector ul span{
    color: #222;
    width: 100px;
    height: 1px;
    background-color: #222;
}
#slector ul li{
    margin: 0 11px 0 11px;
}
#slector ul li a{
    font-size: 12.5px;
    font-weight: 500;
}
#slector ul li:nth-child(1) a{
    color: #8490ff;
}
#slector ul li a:hover{
    text-decoration: underline;
}
/* slector main 5 end */
/* main 5 end */
/* itm card main5 start*/
.itm-card-2{
    display: inline-block;
    width: 360px;
    text-align: center;
    position: relative;
    margin-top: 60px;
}
.itm-card-2>img{
    border-radius: 10px;
    display: inline-block;
}
.itm-card-2>h3{
    margin: 0;
    margin-top: 12px;
    font-weight: 600;
    color: #222;
}
.itm-card-2 p{
    color: #9e929f;
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.itm-card-2>a{
    display: inline-block;
    background: linear-gradient(to right, #8490ff, #62bdfc);
    opacity: 80%;
    border-radius: 10px;
    padding: 146px 142px;
    display: none;
    position: absolute;
    right: 10px;
    bottom: 69px;
}
.itm-card-2>img:hover+a,.itm-card-2>a:hover,.itm-card-2:hover a{
    display: inline-block;
}
/* itme card main5 end */
/* main 6 start */
/* main 6 title start */
#title-main6{
    text-align: center;
    margin-top: 290px;
}
#title-main6 h1{
    color: #222;
    font-weight: 600;
    margin: 0;
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 35px;
}
#title-main6 p{
    font-size: 14px;
    font-weight: 300;
    color: #978998;
}
/* main 6 title end */
/* itm card main6 start */
.comment-1 span{
    display: inline-block;
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    color: #978998;
    position: absolute;
    top: 210px;
    right: 400px;
}
.comment-2 span{
    display: inline-block;
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    color: #978998;
    position: absolute;
    top: 210px;
    right: 320px;
}
.comment-1,.comment-1 a,.comment-2,.comment-2 a{
    display: inline-block;
    position: relative;
}
.comment-1 img,.comment-2 img{
    width: 34px;
}
.comment-2 img{
    position: absolute;
    right: 420px;
}
.comment-1 img:first-of-type{
    position: absolute;
    right: 420px;
}
.comment-1 p,.comment-2 p{
    display: inline-block;
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    color: #978998;
}
.comment-1>a:first-of-type,.comment-2>a:first-of-type{
    width: 390px;
    margin-right:79px;
    margin-top: 100px;
}
.comment-2>a:first-of-type{
    position: relative;
    left: 80px;
}
.comment-1 #idont-no-whay-not-slect{
    position: absolute;
    top: 180px;
    right: 416px;
    font-weight: 600;
    font-size: 18px;
}
.comment-2 #idont-no-whay-not-slect2{
    position: absolute;
    top: 180px;
    right: 340px;
    font-weight: 600;
    font-size: 18px;
}
.comment-1:hover #idont-no-whay-not-slect,.comment-2:hover #idont-no-whay-not-slect2{
    color: #8490ff;
}
/* itm card main6 end */
/* main 6 end */
/* msin 7 start */
/* title main7 start */
#title-main7{
    text-align: center;
    margin-top: 290px;
}
#title-main7>h1{
    color: #222;
    font-weight: 600;
    margin: 0;
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 35px;
}
#title-main7>p{
    font-size: 14px;
    font-weight: 300;
    color: #978998;
}
/* title main 7 end */
/* itm card buy main7 start */
#buy-card-main7{
    width: 1400px;
    margin: 110px auto 0 auto;
}
.itm-card-buy:nth-of-type(2),.itm-card-buy:nth-of-type(3){
    margin-right: 50px;
}
.itm-card-buy:nth-of-type(1){
    margin-left: 100px;
}
.itm-card-buy{
    width: 19%; 
    display: inline-block;
    text-align: center;
    height: 410px;
}
.itm-card-buy *{
    display: block;
    margin: 0 auto;
}
.itm-card-buy hr{
    display: none;
}
.itm-card-buy h1{
    padding: 0;
    font-weight: 300;
    font-size: 40px;
    width: 80px;
    height: 80px;
    border-radius:100px ;
    border: 30px solid rgba(132, 144, 255, 0.233);
}
.itm-card-buy p{
    font-size: 14px;
    text-align: center;
    font-weight: 300;
    color: #978998;
}
.itm-card-buy p:nth-of-type(1){
    margin-bottom:34px ;
}
.itm-card-buy p:nth-of-type(2),
.itm-card-buy p:nth-of-type(3),
.itm-card-buy p:nth-of-type(4){
    margin-bottom:21px ;
}
.itm-card-buy span{
    margin-top: 20px;
    font-weight: 500;
    font-size: 19px;
    text-align: center;
}
.itm-card-buy a{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}
.itm-card-buy a:nth-last-child(1){
    display: none;
}
/* hover main 7 start */
.itm-card-buy:hover{
    background: linear-gradient(to right, #8490ff, #62bdfc);
    padding:15px 15px 55px 15px;
}
.itm-card-buy:hover h1{
    color: #fff;
    border: 25px solid rgba(199, 204, 252, 0.233);
}
.itm-card-buy:hover span{
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}
.itm-card-buy:hover hr{
    color: #fff;
    display: block;
}
.itm-card-buy:hover p{
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
}
.itm-card-buy:hover a:nth-last-child(2){
    display: none;
}
.itm-card-buy:hover a:nth-last-child(1){
    font-size: 17px;
    background-color: #fff;
    display: inline-block;
    padding: 8px 95px ;
}
/* hover main 7 end */
/* itm card buy main7 end */
/* main 7 end */
/* main 8 start */
/* title main 8 start */
#title-main8{
    margin-top: 220px;
    text-align: center;
}
#title-main8 h1{
    color: #222;
    font-weight: 600;
    margin: 0;
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 35px;
}
#title-main8 p{
    font-size: 14px;
    text-align: center;
    font-weight: 300;
    color: #978998;
    margin: 0 120px;
}
/* title main 8 end */
/* img main 8 start */
#main8-body{
    margin-top: 70px;
}
.itm-card-img{
    width: 32%;
    display: inline-block;
    box-sizing: content-box;
}
.itm-card-img:hover>h4{
    color: #8c99ff;
}
.itm-card-img:nth-of-type(1),
.itm-card-img:nth-of-type(2){
    margin-right: 15px;
}
.itm-card-img>div:first-of-type{
    width: 100%;
}
.itm-card-img:hover>div:first-of-type>img:first-of-type{
    transform: scale(0.9);
}
.itm-card-img>div:first-of-type>img:first-of-type{
    width: 319px;
}
.itm-card-img>div:first-of-type>span:first-of-type{
    font-weight: 300;
    font-size: 13px;
    color: #222;
    position: relative;
    bottom: 10px;
    left: 8px;
}
.itm-card-img>div:first-of-type>span:nth-of-type(2),.itm-card-img>div:first-of-type>span:nth-of-type(3),.itm-card-img>div:first-of-type>h6,.itm-card-img>div:first-of-type>span:nth-of-type(4){
    font-size: 13px;
    font-weight: 300;
    color: #777;
    position: relative;
    left: 60px;
    bottom: 9px;
    margin: 0;
    display: inline-block;
}
.itm-card-img>div:first-of-type>span:nth-of-type(3),.itm-card-img>div:first-of-type>h6:nth-of-type(1){
    left: 65px;
}
.itm-card-img>div:first-of-type>span:nth-of-type(4){
    left: 80px;
}
.itm-card-img>div:first-of-type>h6:nth-of-type(2){
    left: 79px;
}
/* img main 8 end */
/* main 8 body start */
.itm-card-img>h4{
    margin: 0;
    margin-top: 30px;
    font-weight: 600;
    font-size: 16px;
}
.itm-card-img>p{
    font-size: 14px;
    font-weight: 300;
    color: #978998;
}
/* main 8 body end */
/* main 8 end */
/* main end */
/* footer start */
/* footer seciton 1 start */
#footer-itm-card-bg{
    width: 100%;
    background: linear-gradient(to right, #8490ff, #62bdfc);
    height: 200px;
    text-align: center;
    margin-top: 150px;
}

.itm-card-footer{
    margin: 74px 0 0 0;
    opacity: 50%;
}
.itm-card-footer:nth-of-type(1),
.itm-card-footer:nth-of-type(2),
.itm-card-footer:nth-of-type(3){
    margin-right:72px ;
}
.itm-card-footer:hover{
    opacity: 100%;
}
/* footer section 1 end */
/* footer section 2 start */
#contenar-2-footer-2{
    width: 100%;
    height: 400px;
    background-color: #04091e;
    display: inline-block;
    text-align: center;
}
#contenar-2-footer-2 div{
    display: inline-block;
}
#itm-card-left-footer ,#itm-card-center{
    margin-right: 20px;
}
#itm-card-left-footer ,#itm-card-center{
    margin-top: 100px;
    float: left;
    width: 400px;
    position: relative;
    text-align: left;
}
#itm-card-right-footer{
    margin-top: 100px;
    float: left;
    width: 140px;
    position: relative;
    text-align: left;
}
#itm-card-left-footer h4,#itm-card-center h4,#itm-card-right-footer h4{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
#itm-card-left-footer p ,#itm-card-center p,#itm-card-right-footer p{
    color: #687577;
    font-size: 14px;
    font-weight: 300;
}
#itm-card-left-footer a{
    color: #4e7ff1;
}
#itm-card-center form input[type="text"]{
    width: 300px;
    height: 20px;
    padding: 10px 0 10px 15px;
    border: none;
    font-size: 13px;
}
#itm-card-center form button{
    padding: 10px 15px;
    position: absolute;
    bottom: 0.001px;
    background-color: #8490ff;
    border: none;
}
#itm-card-center form button:hover{
    background-color: #8490ff;
}
#itm-card-center form button span{
    color: white;
}
#itm-card-right-footer a{
    margin-right: 15px;
    color: white;
    font-size: 14px;
}
#itm-card-right-footer a:hover{
    color: #5277f8;
}
/* footer section 2 end */
/* footer end */